<main class='row m-4'>
  <section class='card'>
    <div class='card-body'>
      <p>
        blog/hello template
      </p>

      <LinkTo @route='index'>
        Route to blog/index
      </LinkTo>

      <WeatherComponent />

      <NewsComponent />
    </div>
  </section>
</main>