<div class='card m-4'>
  <div class='card-body'>
    <ul>
      <li>
        <LinkTo @route='mandelbrot.page' @model='1-mandelbrot'>
          Mandelbrot
        </LinkTo>
      </li>
      <li>
        <LinkTo @route='mandelbrot.page' @model='2-mandelbrot-ifs'>
          Mandelbrot / IFS
        </LinkTo>
      </li>
      <li>
        <LinkTo @route='mandelbrot.page' @model='10-julia-set'>
          Julia set
        </LinkTo>
      </li>
    </ul>
  </div>
</div>