<p>
  MandelbrotComponent
</p>

<canvas id="mandelbrot-canvas" width='600' height='600'>
  <div>
    Canvas not supported or disabled
  </div>
</canvas>

<div>
	<a href="https://github.com/agcodes/universlogique-pg/blob/master/lib/generative/addon/object/mandelbrot.js">Source</a>
</div>