<div class='card m-4'>
  <div class='card-body'>
    <p>
      Index
    </p>
    <ul>
      <li>
        <LinkTo @route='generative'>
          Fractals
        </LinkTo>
      </li>
      <li>
        <a href='https://agcodes.github.io/universlogique-pg/'>
          Git repos
        </a>
      </li>
    </ul>

    {{outlet}}
  </div>
</div>